/* ================ base css ================*/
*{
  box-sizing: border-box;
}
:root{
  --main-color:#757575;
  --accent-color:#2196F3;
  --title-color:#212121;
  --footer-contacts-color:rgba(255, 255, 255, 0.6);
  --background-dark-color:#2F303A;
  --background-light-color:#F5F4FA;
}
body{
  font-family: "Roboto", sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
h1,h2,h3,h4,h5,h6,p,ul{
  margin: 0;
  padding: 0;
}
img{
  display:block;
}
.container{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

}
.outline{
  outline: 3px solid tomato;
}
.hidden{
  display: none;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
/*================= header =================*/
.header {}

.navigation {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  margin-right: 95px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color:#000000;
}

.logo-accent {
 color:var(--accent-color)
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-item {

}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color)
}
.nav-link:hover,
.nav-link:focus{
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  align-items: center;
}

.contacts-item {}

.contacts-item:not(:last-child){
  margin-right: 50px;
}

.contsacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.contsacts-link:hover,
.contsacts-link:focus{
  color: var(--accent-color);
}

/*==================== hero ====================*/

.hero{
  text-align: center;
  background-color: var(--background-dark-color);
  padding: 200px 0;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height:1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
  
}

.hero-btn {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color:var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

/*=================== achives ===================*/
.achives {}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.achives-list {
  display: flex;
  margin-bottom: 94px;
  
}

.achives-item {
  flex-basis: calc((100% -90px)/4);
}
.achives-item:not(:last-child){
  margin-right: 30px;
}
.achives-title {

  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.achives-text {

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-color)
}
/*===================== job =====================*/
.our-job {}

.job-list {
  display: flex;
  justify-content: center;
}

.job-item {

}
.job-item:not(:last-child){
  margin-right: 30px;
}

.job-img {
  display: block;
}
/*======================= team =======================*/
.our-team {
  background-color:var(--background-light-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  width: 270px;
  flex-basis: calc((100-3*30px)/4);
  background-color:#ffffff;
  margin-left: 30px;
  margin-top: 30px;
}

.team-link {}

.team-img {
  max-width: 100%;
}
.team-description{
  padding: 30px 0;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--title-color);
  margin-bottom: 10px;
}

.team-text {

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
/*======================== footer ========================*/
.footer {
  background-color:var(--background-dark-color);
  padding: 60px 0;
}

.footer-logo {
  font-family: 'Raleway';
  display: inline-block;  
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color:#ffffff;
  margin-bottom: 20px;
}

.footer__logo--accent {
  color: var(--accent-color);
}

.address {}

.footer-address {}

.address-item {

}
.address-item:not(:last-child){
  margin-bottom: 9px;
}
.address-link {
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus{
  color: var(--accent-color);
}
.phiacal-address{
  color: #ffffff;
}

/*======================== Portfolio ========================*/

.underline{
  border-bottom: 1px solid #ECECEC;
}
.port-navigation {
  
}

.port-nav__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.port-nav__item {
 
}
.port-nav__item:not(:last-child){
  margin-right: 8px;
}

.port-nav__button {
  border-radius: 4px; 
  cursor: pointer;
  padding: 6px 22px  ;
  border: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--title-color);
  background-color:var(--background-light-color);
}
.port-nav__button:hover,
.port-nav__button:focus{
  background-color:var(--accent-color);
  color:#ffffff
}
.portfolio-cards {}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.cards-item {
  flex-basis: calc((100% - 30px * 2)/3);
}
.cards-item:not(:nth-of-type(3n)){
  margin-right: 30px;
}
.cards-item:not(:nth-of-type(-n - 3)){
  margin-bottom: 30px;
}
.cards-img {
  display: block;
  /* max-width: 100%; */
}
.cards-description{
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.cards-text {
  font-size: 16px;
  line-height: 1.88x;
  letter-spacing: 0.03em;
  color:var(--main-color)
}