.container {
  display: flex;
  justify-content:space-evenly;

  margin-right: auto;
  margin-left: auto;

}

.card {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;

  /* outline: 1px solid tomato; */
  background-color:bisque;
  border-radius: 5px;

  margin: 5px;
  padding: 15px;
  
}

.text {
flex-grow: 1;
margin-bottom: 20px;
color:brown
}

.footer {
  color: azure;
  background-color: teal;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}