/* .container{
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 0 20px;
  

}
.header{
  text-align: center;
  padding: 20px;
  background-color:antiquewhite;
}

.main{
  max-height: 80vh;
  padding-bottom: 40px;

}
.text{
  padding-bottom: 120px;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  padding: 20px;
  text-align: center;
  background-color: rgba(38, 210, 78, 0.5);
} */
/* ============================================= */
/* body{
  display: flex;
  
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}
.box{
  opacity: 1;
  width: 200px;
  height: 200px;
  background-color: tomato;
  border-radius: 10px;
  transition: background-color 500ms,width 1000ms, opacity 1100ms;
}

.box:hover{
  background-color: teal;
  width:500px;
  opacity: 0;

} */

/* ============================================= */

/* @keyframes test{
  0%{
    scale: 1;
  }
  50%{
    scale: 1.1;
    color:green;
  }
  100%{
    scale: 1;

  }
}
.title__animation{
  margin-top: 100px;
  text-align: center;

  animation: test;
  animation-iteration-count: infinite;
  animation-duration:1500ms;
} */

/* ==================================================== */


/* ==================================================== */
/* ==================================================== */
/* ==================================================== */
/* ==================================================== */
/* ==================================================== */
/* ==================================================== */
/* ==================================================== */
/* ==================================================== */